<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
    href="../../static/website/css/style.css"
    rel="stylesheet" />
    <title>Tigana</title>
  </head>
  <body>
<header>
<table>
  <tr></tr>
    <th><a href="/">Home</a></th>
    <th><a href="/website/shop">Shop</a></th>
    <th><a href="/website/contact">contact</a></th>
    <th><a href="/website/cart">cart</a></th>
  </tr>
</table>
</header>
<body>
{% block content %}{% endblock %}
</body>
<footer>
  <h5>Tigana is made to be forgotten.</h5>
</footer>
</body>
</html>