<h3>Order confirmation</h3>
{% extends "website/base.html" %}

{% block content %}

{% for item in cart %}
{% with product=item.product %}
    <li>{{ product.item_name }} {{ item.quantity }} {{ product.item_price }}</li>
{% endwith %}
{% endfor %}


</ul>
<form action="/website/ordercomplete" method="post">
    <input type="text" name="firstname" id="firstname">
    <label for="firstname">First Name</label><br>
    <input type="text" name="lastname" id="lastname">
    <label for="lastname">Last Name</label><br>
    <input type="email" name="email" id="email">
    <label for="email">Email</label><br>
    <input type="text" name="phone" id="phone">
    <label for="phone">Phone</label><br>
    <p>Type of Inquiry</p>
    <input type="radio"  name="payment" id="cash" value="Cash">
    <label for="cash">Cash</label>
    <br> 
    <input type="radio"  name="payment" id="email" value="Email">
    <label for="email">Email Transfer</label>
    <br>

    <input type="submit" value="Complete Order">
    {% csrf_token %}
</form>
{% endblock %}